
html, body, zeus {
    background-color: #242424;
    color: #FFFFFF;
    font-family: "Inter";
}

.codeblock {
    background-color: #6666662E;
    padding: .3rem .5rem;
    border-radius: .5rem;
}

a {
    color: #7BA880;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
